<div class="ui grid">
  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">      
      <div class="ui fluid image">
          <img src="./assets/img/Centenario.png">
        </div>
    </div>
    <div class="four wide column"></div>
  </div>

  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui massive fluid icon input ">
          <i class="search icon"></i>
        <input type="text" placeholder="Nombre">             
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>